table {
    text-align: center;
}


th {
    border-bottom: 2px solid darkslateblue;
    border-top: 2px solid darkslateblue;
    background-color: lightsteelblue;
    color: black;
}

th, td {
   padding: 10px 10px; 
}

tr {
    background-color: azure;
}

#flexCon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}