<h2>Kurser</h2>

<div id="flexCon"><label>
    Filtrera kurser:
    <input id="filter" type="text" [(ngModel)]="filterValue" (input)="filterCourses()"/>
</label>
</div>

@if(filteredCourses.length===0){
    <p>Din sökning matchar inga kurser.</p>
}

<table> 
    <thead>
    <tr><th (click)="sortCodes()">Kurskod</th><th (click)="sortNames()">Kursnamn</th><th (click)="sortPoints()">Poäng</th><th (click)="sortSubjects()">Ämne</th><th (click)="sortProgressions()">Progression</th><th>Länk till kursplan</th></tr> </thead>
   <tbody><tr *ngFor= "let course of filteredCourses"> <td>{{course.courseCode}} </td>
    <td> {{course.courseName}} </td>
    <td> {{course.points}}</td>
    <td> {{course.subject}}</td>
    <td> {{course.progression}} </td>
    <td><a href="{{course.syllabus}}"> {{course.syllabus}} </a></td></tr></tbody>
</table>

