body {
    background-color: ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    overflow-x: hidden;
}

main {
    background-color: gainsboro;
    color: firebrick;
}
